<%- await include('./components/head.html') -%>
<%- await include('./components/header.html', {active: 'blog'}) -%>

<main>
  <h1><%= blogEntry.title %></h1>
  <%- blogEntry.content %>

  <em>
    Last edited on <%= formatDate(blogEntry.lastUpdated.authorTime) %> by <%= blogEntry.lastUpdated.author %>
    <p><a href="https://github.com/markwylde/webcodeup.com/blob/master/content/blog/<%- blogEntry.id %>">Edit this page on GitHub</a></p>
  </em>
</main>

<%- await include('./components/footer.html') -%>
<%- await include('./components/foot.html') -%>
